html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
.auth-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Inter", sans-serif;

  }
  

.auth-left {
    flex: 7; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background: #ffffff;
    padding-left: 1%; 
  }
  
  .login-container {
    width: 100%;
    max-width: 380px;
    text-align: left; 
  }
  
  
  .login-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #111827;
  }
  
  .login-container p.subtitle {
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 2rem;
  }
  
  .n-input {
    width: 100%;
    margin-bottom: 1rem;
    background: #f9fafb !important;
    color: #111827 !important;
    border-radius: 6px;
    border: 1px solid #d1d5db;
  }
  
  .n-input input::placeholder {
    color: #9ca3af !important;
  }
  
  .n-button {
    width: 100%;
    padding: 0.85rem;
    background: #f59e0b !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 6px;
    transition: all 0.25s ease;
    margin-top: 0.5rem;
  }
  
  .n-button:hover {
    background: #d97706 !important;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }
  

  .login-footer {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #6b7280;
  }
  
  .login-footer a {
    color: #f59e0b;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  

  .auth-right {
    flex: 9; /* 30% */
    overflow: hidden;
    background: #e5e7eb;
  }
  
  .auth-right img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  