@font-face {
  font-family: 'InterNaslovi';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterTekst';
  src: url('../fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}


html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'InterNaslovi', sans-serif;
  font-weight: 400;
}

/*TU SPODAJ BOM UREDIL DARK MODE IN LIGHT MODE V PRIMERU BROWSER PREFERENCA*/





/*------------------------------------*/
.app-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/*header oz. navbar */
.header {
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  z-index: 1000;
  box-sizing: border-box;
  color: #000000d9;
  background-color: #d9e3f0;
}


.main-layout {
  height: calc(100vh - 55px);
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  background: #fff;
  background-color: #f5f5f5;
}

/* CONTENT */
.content {
  padding: 20px;
  background: #fff;
  height: 100%;
  text-align: left;
  overflow-y: auto;
}


/*sidebar*/
.n-menu .n-menu-item-content .n-menu-item-content-header {
  text-align: left;
  font-weight: 400;
}

.n-menu-item-content.n-menu-item-content--selected {
  width: 100%;
}

.n-menu.n-menu--vertical {
  --n-item-color-active: blue;
}

/*----------------------------- DASHBOARD DODATEN CSS ----------------------*/
.welcoming-block p {
  margin-top: 20px;
  color: gray;
  font-size: 20px;
  margin-left: 15px;
}

.Announcements {
  margin-top: 10px;
  background-color: gray;
  border-radius: 15px;
  padding: 16px;
  width: 86vw;
  height: 250px;
}
.add_btn_announcement{
  color: #ffffff;
  background-color: #111827;
}
.Announcements h2 {
  color: white;
  font-size: 25px;
  margin: 0;
  line-height: 1.2;
}


/*--------------------------ADMIN DEL DODATEN CSS--------------------------- */
.searchBarAdminUsers {
  margin-top: 10px;
}
.moreinfoBTN{
  background-color: #111827;
  color: white;
  padding: 6px;
  border-radius: 10px;
}

/*-----------POLL MANAGEMENT ---------------*/
.n-button.btn_add_questions {
  background-color: white !important;
  color: black !important;
  border: 2px solid white !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'InterNaslovi';
}

/*-------------------------------------*/
/*----------POPRAVI TA HOVER--------- */
.moreinfoBTN:hover{
  background-color: #111827;
}

/*background color itema v sidebaru*/
.n-menu-item-content--selected {
  background-color: #e6f0ff;
  border-radius: 0 20px 20px 0;
}
/*----------sidebar preureditev----------*/
/* .sidebar .n-menu-item-content {
  color: #cbd5e1;
}
.sidebar .n-menu-item-content:hover {
  color: white;
  background-color: blue;
}
.sidebar .n-menu-item-content--selected {
  color: #ffffff;
  background-color: #0b1220;
} FIX!!!!!!!!!!!!!*/

.n-menu-item-content-header--selected {
  color: black;
}

.n-table th {
  background-color: #f9fafb;
  color: #111827;
  font-weight: 500;
}

.add_btn {
  background-color: #111827;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
}
.faq{
  margin-top: 20px;
}



.polls-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; 
  padding: 20px 0;
  align-items: flex-start;
}

.EnPoll {
  background-color: #ffffff;
  border: 1px solid #e5e7eb; 
  border-radius: 16px;      
  padding: 24px;
  width: 350px;              
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.pollTitle{
  font-size: 20px;
  margin-top: -10px;
}
.question-text{
  font-family: 'InterTekst', sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.optionsWrapper{
  font-family: 'InterNaslovi', sans-serif;
  font-weight: 200;
}
.optionsWrapper input{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
.submitpollBtn{
  margin-top: 20px;
  color: white;
  background-color: #111827;
  border-radius: 8px;
  font-weight: bold;
}
.cancelpollBtn{
  background-color: red;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
.pollName label{
  display: flex;
  flex-direction: column;
}