.cmiWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.cmiCity {
  background-image: url("../images/cmi_test_latest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 50%;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  transition: all 500ms;
}

.cmiCity p,
.cmiCity .welcome_btn {
  opacity: 0;
  transition: opacity 500ms;
}

.cmiCity:hover {
  width: 70%;
}

.cmiCity:hover p,
.cmiCity:hover .welcome_btn {
  opacity: 1;
}

.cmiCompany {
  text-align: center;
  position: relative;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url("../images/cmicompany_test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  transition: all 500ms;
}

.cmiCompany:hover p,
.cmiCompany:hover button {
  opacity: 1;
}

.cmiCompany p,
.cmiCompany button {
  opacity: 0;
  transition: opacity 500ms;
}

.cmiCompany:hover {
  width: 70%;
}

.cmiCompany:hover p,
.cmiCompany:hover button {
  opacity: 1;
}

.cmiCity .welcome_btn,
.cmiCompany button {
  color: white !important; 
  background-color: #111827;
  width: 25%;
  height: 4%;
  margin-top: 10px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Segoe UI";
  font-weight: 900;
}

h1 {
  font-size: 60px;
}

.cmiCity p,
.cmiCompany p {
  font-size: 24px;
  padding-bottom: 150px;
}